body {
    margin: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
    background-color: azure;
}
h2 {
    color: green;
    font-family: sans-serif;
}
.userInputList{
    background-color: purple;
}
.reversedList{
    color:green;
    font-family:sans-serif;
}
.reversed{
    color:red;
    font-family:sans-serif;
}
