@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    margin: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
    background-color: azure;
}
h2 {
    color: green;
    font-family: sans-serif;
}
.userInputList{
    background-color: lightskyblue;
    color:green;
    font-family:sans-serif;
}
.reversedList{
    color:red;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

#reverseBtn {
    color: white;
    background-color: lightskyblue;
    text-align: center;
    border-radius: 10%;
    /* margin: 5px 10px; */
    padding: 1.3em;
}